<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Library Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script defer th:src="@{/js/home.js}"></script>
</head>

<body>
<h1>Reservation Details</h1>

<p th:if="${error}">
  <span th:text="${error}"></span>
</p>
<h1>Reservation Lookup</h1>

<form th:action="@{/reservation}" method="GET">
    <label for="reservationId">Reservation ID:</label>
    <input type="number" id="reservationId" name="reservationId" required>
    <button type="submit">Lookup</button>
</form>

<div th:if="${reservation != null}">
    <p><b>Reservation ID:</b> <span th:text="${reservation.id}"></span></p>
    <p><b>Start Date:</b> <span th:text="${#temporals.format(reservation.startDate, 'yyyy-MM-dd')}"></span></p>
    <p><b>End Date:</b> <span th:text="${#temporals.format(reservation.endDate, 'yyyy-MM-dd')}"></span></p>
    <p><b>Product:</b> <span th:text="${reservation.product.name}"></span></p>
    <p><b>Member:</b> <span th:text="${reservation.member.firstName} + ' ' + ${reservation.member.lastName}"></span></p>

</div>

</body>
</html>